<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>Servlet2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dbID</param-name>
    <param-value>abcde</param-value>
  </context-param>
  <context-param>
    <param-name>dbPwd</param-name>
    <param-value>1234</param-value>
  </context-param>
  <context-param>
    <param-name>dbSid</param-name>
    <param-value>orcl</param-value>
  </context-param>
  <context-param>
    <param-name>testId</param-name>
    <param-value>123</param-value>
  </context-param>
  <listener>
    <listener-class>com.day2.ContextListenerEx</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ContextListenerEx</display-name>
    <servlet-name>ContextListenerEx</servlet-name>
    <servlet-class>com.day2.ContextListenerEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextListenerEx</servlet-name>
    <url-pattern>/ContextListenerEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex03</display-name>
    <servlet-name>Ex03</servlet-name>
    <servlet-class>Ex03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex03</servlet-name>
    <url-pattern>/Ex03</url-pattern>
  </servlet-mapping>
</web-app>