<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <!-- <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
  </servlet> -->
  <display-name>HelloWorld</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LifeCycle</display-name>
    <servlet-name>LifeCycle</servlet-name>
    <servlet-class>LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycle</servlet-name>
    <url-pattern>/LifeCycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormEx</display-name>
    <servlet-name>FormEx</servlet-name>
    <servlet-class>FormEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormEx</servlet-name>
    <url-pattern>/FormEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOk</display-name>
    <servlet-name>LoginOk</servlet-name>
    <servlet-class>com.member.sevrvlet.LoginOk</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ModifyOk</display-name>
    <servlet-name>ModifyOk</servlet-name>
    <servlet-class>com.member.sevrvlet.ModifyOk</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>JoinOk</display-name>
    <servlet-name>JoinOk</servlet-name>
    <servlet-class>com.member.servlet.JoinOk</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>hello</display-name>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.member.servlet.hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontControlloerServlet</display-name>
    <servlet-name>FrontControlloerServlet</servlet-name>
    <servlet-class>com.frontControlloer.FrontControlloerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontControlloerServlet</servlet-name>
    <url-pattern>/FrontControlloerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberAllServlet</display-name>
    <servlet-name>MemberAllServlet</servlet-name>
    <servlet-class>com.command.MemberAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberAllServlet</servlet-name>
    <url-pattern>/MemberAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpServletResponse</display-name>
    <servlet-name>HttpServletResponse</servlet-name>
    <servlet-class>com.dispatcher.HttpServletResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletResponse</servlet-name>
    <url-pattern>/HttpServletResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestObj</display-name>
    <servlet-name>RequestObj</servlet-name>
    <servlet-class>com.dispatcher.RequestObj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestObj</servlet-name>
    <url-pattern>/RequestObj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServlet</display-name>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>com.board.controller.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
</web-app>